@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,800;1,700&family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

* {
    font-family: 'Poppins',
        sans-serif;
    font-family: 'Work Sans',
        sans-serif;
}



.nav-container {

    max-width: 1400px;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

header {

    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    /* padding: 0px 240px; */
}

.logo-container h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #0B0223;
}

span {
    background: -webkit-linear-gradient(90deg, #FF42A5 0%, #9c0252 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.logo-container {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-left: 100px;
}

.nav-logo {
    width: 88px;
    height: 50px;
    margin-top: 40px;
}

.unorder-list {

    width: 100%;
}

.unorder-list ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

.unorder-list li {
    list-style: none;
    margin-right: 35px;
    font-weight: 700;
    font-size: 1.25rem;
    color: #3C354F;

}

nav li a {
    text-decoration: none;
    color: #3C354F;
}

button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    width: 300px;
    height: 56px;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    font-weight: 600;
    font-size: 1.25rem;
    color: #3C354F;
    padding: 15px 25px;
    gap: 25px;
}

button img {
    width: 30px;

}

/* Banner styles */

.banner-section {
    max-width: 1400px;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    gap: 30px;

}

.banner-container {
    background-image: url(./images/group\ 14.png);
    width: 70%
}

.banner-container h1 {
    background: -webkit-linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 3rem;
}

.banner-descriptions {
    margin: 150px 0px 150px 100px;
}

/* .banner-image {

    width: 50%;
    margin: 0px auto;
} */

.banner-image img {
    width: 100%;
    height: 100%;
    margin: 100px 0px 0px;
}

.btn-s {
    margin-top: 60px;
    display: flex;
    width: 350px;
    height: 50px;
    gap: 30px;

}

.sign-in {
    background-color: #FF42A5;
    border-radius: 50px;
    color: #FFF;

}

.go-rogue {
    width: 400px;
    background-color: #4EC5F7;
    border-radius: 50px;
    color: #FFF;
}

/* gamer-section style started */

.gamer-container {

    max-width: 1400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
    /* gap: 20px; */
}

.gamer-container img {
    width: 700px;
    height: auto;
}

.gamer-discriptions {
    padding: 0px 10px;
}

.gamer-discriptions h1 {
    margin-top: 50px;
    background: -webkit-linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 3rem;
    text-align: right;
    margin-bottom: 10px;
}

.gamer-discriptions p {
    text-align: right;
    width: 500px;
    color: #534C64;
    font-size: 1rem;
    margin-top: 0%;
}

.more-btn {
    width: 200px;
    background-color: #F948B2;
    border-radius: 50px;
    padding: 20px 40px;
    color: #FFF;
    text-align: right;
    margin-top: 50px;
    margin-left: 300px;
}

.gamer-discriptions h4 {
    font-size: 1.25rem;
    color: #534C64;
    font-weight: 600;
    text-align: right;
    margin-bottom: 0px;

}

.gamer-discriptions h2 {
    text-align: right;
    width: 500px;
    font-size: 1.7rem;
    color: #534C64;
    margin-top: 0px;

}

/* we are gamer section end */



/* online game container stlyle started */

.online-game-container {
    max-width: 1400px;
    margin: 0 auto;
}

.online-game-container h1 {
    margin-top: 100px;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    margin-bottom: 0px;
}

.online-game-container h3 {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}



.game-container-img {
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin: 0 auto;


}

.game-container-img img {
    width: 300px;
    height: 380px;

}


.game-description {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 50px;
    padding: 0px 80px;
}

.game-description {
    font-size: 1rem;
    text-align: left;
    font-weight: 600;
}



.game-details {
    width: 320px;
    height: 60px;

}

.online-game-container span {
    background: -webkit-linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-description {
    display: flex;
    justify-content: space-around;
    gap: 70px;
}

.game-description {
    font-size: 1rem;
    color: #534C64;
    font-weight: 500;
    text-align: left;
}

.game-description p {
    text-align: left;
}

/* play section started */


.play-instantly {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 100px;
    /* height: 590px; */
}

.play-discription {
    width: 50%;

}

.play-images {
    /* width: 100%; */

}

.play-images img {
    width: 95%;
    height: 100%;
}

.play-images {
    position: relative;

}

.small-image {
    position: absolute;
    bottom: -80px;
    left: -150px;

}

.play-instantly {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;

}


.play-discription h1 {
    text-align: center;
    justify-content: center;
    font-size: 2.5rem;
    width: 400px;
    padding: 120px 0px 20px 120px;
}

.play-discription p {
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    width: 370px;
    padding: 10px 0px 0px 120px;


}

.play-discription span {
    background: -webkit-linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* career section start */

.careers-section-container {
    max-width: 1400px
}


.careers-container {
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0px 200px;
    background-image: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    height: 820px;

}

.careers-details {
    width: 50%;
}


.beside-text {
    display: flex;
    gap: 80px;
}

.careers-details h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #FFF;
    text-align: left;

}

.careers-details p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FFF;
    width: 650px;
}

.beside-text {
    margin-top: 32px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 35px;
    color: #FFF;
}

.beside-text-multimedia {
    line-height: 42px;
}

.img-section {
    width: 50%;
}

.img-section img {
    background-image: url(./images/group\ 14.png);
    width: 850px;
    height: 820px;
}

.careers-container button {
    margin-top: 40px;
    background-color: #FFF;
    color: #FF42A5;
    border-radius: 48px;
    padding: 30px 40px;
}


/* icon section started */

.icon-container {
    max-width: 1400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 120px auto 0;
    gap: 30px;

    /* display: grid;
    grid-template-columns: repeat(5 1fr); */
}


img {
    width: 60px;
    height: 60px;
}

.action h4 {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #0B0223;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 250px;
    height: 80px;
    /* border-color: #efeded;
    border-radius: 50px; */
}

/*    */

.Adventure {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.Arcade {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.Educational {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.Word-Games {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.Role-Palying {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.Music {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.Puzzle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.Strategy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}



/* fotter section started */

footer {
    margin-top: 120px;
    background-color: #0B0223;
}

.footer-container {
    max-width: 1400px;
    height: 650px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.foot-logo-container {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    gap: 20px;
    margin-bottom: 60px;
}

.foot-logo-container img {
    width: 88px;
    height: 50px;

}


.footer-header {
    margin-top: 70px;
    display: flex;
    width: 800px;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color: #FFF;
    margin: 0 auto;

}

.fa-brands {
    margin-top: 40px;
    font-size: 30px;
}

.footer-icon {
    width: 500px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.footer-description {
    width: 800px;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.footer-description-last {
    max-width: 1400px;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
    margin-left: 500px;

}